/* .table tr:nth-child(even){
    background-color: #e5e7eb;
}

.table tr:hover{
    background-color: #ddd;
} */

html, body {
    width:      100%;
    min-height: 100%;
}

a{
    text-decoration: none;
}

a:active {
    color: initial
}
.report-style-class{
    width: 100vw;
    height: 100vh
}