/* .table tr:nth-child(even){
    background-color: #e5e7eb;
}

.table tr:hover{
    background-color: #ddd;
} */

html, body {
    width:      100%;
    min-height: 100%;
}

a{
    text-decoration: none;
}

a:active {
    color: initial
}

.report-style-class{
    height: 100%;
    width: 100%;
    height: calc(100% + 41px);
    top: -41px; 
    position: absolute;
    border: none;
    overflow: hidden;
  }
  .report-style-class iframe{
    border: none;
  }